


<div class="photos_switch">
	<i class="photos_icon--arrow-left"></i>
	<i class="photos_icon--arrow-right"></i>
	<div class="photos_switch_serial"></div>
</div>
<div class="photos_operate">
	<i class="photos_icon--clockwise"></i>
	<i class="photos_icon--anticlockwise"></i>
	<i class="photos_icon photos_icon--reset" style="font-size: 12px">还原</i>
	<i class="photos_icon photos_icon--origin" style="font-size: 12px">原图</i>
</div>
<i class="photos_icon--close"></i>
<div class="photos_img-wrap"></div>


