
@import 'style.css';

.tr(@t: .5s) {
	// transition: transform @t cubic-bezier(.55, 0, .1, 1), opacity @t;
	transition: transform @t, opacity @t;
}

.photos {
	&-box {
		z-index: 1000000;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: hidden;
		background: #000;
		.tr(.5s);

		i {
			font-style: normal;
		}
	}


	&_icon--close {
		position: absolute;
		top: 20px;
		right: 20px;
		color: #ddd;
		font-size: 18px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		cursor: pointer;
		background: rgba(100, 100, 100, .3);
		border-radius: 50px;
		cursor: pointer;
		z-index: 100;

		&:active {
			background: rgba(100, 100, 100, .6);
			opacity: 1;
		}
	}


	&_switch {
		@w: 250px;
		@h: 50px;
		width: 250px;
		height: @h;
		position: absolute;
		left: 50%;
		bottom: 10px;
		margin-left: -@w/2;
		z-index: 101;
		.tr();

		&_serial {
			width: 90px;
			line-height: @h;
			margin: 0 auto;
			text-align: center;
			color: #fff;
			font-size: 14px;
		}



		[class^=photos_icon] {
			width: @h;
			height: @h;
			line-height: @h;
			text-align: center;
			font-size: 20px;
			color: #fff;
			background: rgba(100, 100, 100, .3);
			border-radius: @h;
			cursor: pointer;
			&:active {
				background: rgba(100, 100, 100, .6);
				opacity: 1;
			}

			&.photos_icon--arrow-left {
				float: left;
			}

			&.photos_icon--arrow-right {
				float: right;
			}
		}
	}


	&_operate {
		@w: 300px;
		@h: 40px;
		width: @w;
		height: @h;
		left: 50%;
		bottom: 15px;
		position: absolute;
		margin-left: 300px;
		z-index: 100;
		.tr();
		// background: #fff;

		[class^=photos_icon] {
			width: @h;
			height: @h;
			line-height: @h;
			text-align: center;
			font-size: 18px;
			float: left;
			margin-right: 10px;
			color: #eee;
			background: rgba(100, 100, 100, .3);
			border-radius: @h;
			cursor: pointer;
			&:active {
				background: rgba(100, 100, 100, .6);
				opacity: 1;
			}

		}
		
	}


	&_img-wrap {
		@t: .3s;
		// @d: 30px;
		// width: @d;
		// height: @d;
		// margin-left: -@d/2;
		// margin-top: -@d/2;
		position: absolute;
		left: 50%;
		top: 50%;
		transition: width @t, height @t, margin-left @t, margin-top @t;
		will-change: width, height, margin-left, margin-top;
		// border: 2px solid #f70;
		overflow: hidden;
		// clip: rect(0, auto, auto, 0);
	}

	&_img {
		@d: 30px;
		width: @d;
		height: @d;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -@d/2;
		margin-top: -@d/2;
		will-change: transform, opacity;

		.tr(.5s);

		img {
			width: 100%;
			height: 100%;
		}

		.circular {
			width: @d;
			height: @d;
			animation: photos_loading-rotate 2s linear infinite;
		}

		.path {
			stroke-dasharray: 90, 150;
			stroke-dashoffset: 0;
			stroke-width: 6;
			stroke: #f70;
			stroke-linecap: butt;
			animation: photos_loading-dash 1.5s ease-in-out infinite;
		}
	}

}


@keyframes photos_loading-rotate {
    100% {
        transform: rotate(1turn)
    }
}

@keyframes photos_loading-dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -40px
    }

    100% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -120px
    }
}



@media (max-width: 1000px) {
	.photos_operate {
		margin-left: 150px;
	}
}

@media (max-width: 690px) {
	.photos_operate {
		.photos_icon--clockwise, .photos_icon--anticlockwise {
			display: none;
		}
	}
}

@media (max-width: 500px) {
	.photos_switch {
		@w: 200px;
		width: @w;
		margin-left: -@w/2;
	}
	.photos_operate {
		@w: 300px;
		width: @w;
		margin-left: -@w/2;
		bottom: 15px;

		.photos_icon--reset {
			position: absolute;
			left: 0;
		}

		.photos_icon--origin {
			position: absolute;
			right: 0;
			margin: 0;
		}
	}
}


@media (max-width: 374px) {
	.photos_switch {
		@w: 190px;
		width: @w;
		margin-left: -@w/2;
	}
	.photos_operate {
		@w: 300px;
		width: @w;
		margin-left: -@w/2;

		.photos_icon--reset {
			position: absolute;
			left: 0;
		}

		.photos_icon--origin {
			position: absolute;
			right: 0;
			margin: 0;
		}
	}
}



